n8n/whatsapp-bot-ai-agent.json
{
  "name": "WhatsApp Bot AI Agent Pro Moda",
  "nodes": [
    {
      "id": "webhook-1",
      "name": "Receber do Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "whatsapp-evolution",
      "parameters": {
        "path": "whatsapp-evolution",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "rawBody": true
        },
        "httpMethod": "POST"
      }
    },
    {
      "id": "extract-2",
      "name": "Extrair dados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "functionCode": "const item = $input.first().json;\nconst body = item.body || item;\nconst data = body.data || {};\nconst key = data.key || {};\nconst msg = data.message || {};\n\nconst pushName = data.pushName || body.pushName || \"\";\nconst remetente = key.remoteJid || body.remoteJid || body.sender || \"\";\nconst fromMe = key.fromMe === true;\nconst mensagem = msg.conversation\n  || msg.extendedTextMessage?.text\n  || msg.imageMessage?.caption\n  || msg.documentMessage?.caption\n  || msg.videoMessage?.caption\n  || \"\";\nconst msgType = data.messageType || \"\";\nconst destinatario = body.sender || \"\";\n\nreturn [{\n  json: {\n    pushName,\n    remetente,\n    fromMe,\n    msg: mensagem,\n    msgType,\n    destinatario\n  }\n}];"
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "find-contacts",
        "instanceName": "maketing_pdm_pro_moda"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        640,
        300
      ],
      "id": "b375e537-4c8d-423a-b10b-25233cd7c754",
      "name": "Listar contatos",
      "credentials": {
        "evolutionApi": {
          "id": "zlFrmzQfy0KbWcqo",
          "name": "Evolution account"
        }
      }
    },
    {
      "id": "noop-skip-14",
      "name": "Ignorar",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        500
      ]
    },
    {
      "id": "combine-data-17",
      "name": "Combinar dados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "parameters": {
        "functionCode": "const apiResponse = $input.first().json;\nconst extData = $node[\"Extrair dados\"].json;\nconst remetente = extData.remetente || \"\";\nconst numero = remetente.replace(\"@s.whatsapp.net\", \"\").replace(\"@lid\", \"\");\n\nconst contatos = (apiResponse.success && Array.isArray(apiResponse.data)) ? apiResponse.data : [];\nconst encontrado = contatos.some(c => {\n  const jid = c.remoteJid || \"\";\n  return jid.replace(\"@s.whatsapp.net\", \"\").replace(\"@lid\", \"\") === numero;\n});\n\nreturn [{\n  json: {\n    ...extData,\n    contatoConhecido: encontrado\n  }\n}];"
      }
    },
    {
      "id": "if-contact-known-16",
      "name": "Contato conhecido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.contatoConhecido }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "get-state-4",
      "name": "Buscar conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1520,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "url": "=https://pdmprotextil.vercel.app/api/crm/whatsapp/conversa?remoteJid={{ $json.remetente }}",
        "method": "GET",
        "authentication": "none",
        "sendQuery": false,
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "init-state-5",
      "name": "Filtrar e estado inicial",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1740,
        300
      ],
      "parameters": {
        "functionCode": "const extItems = $items(\"Extrair dados\");\nconst extData = (extItems && extItems.length > 0) ? extItems[0].json : {};\n\n// Filtra mensagens enviadas por nos (fromMe = true)\nif (extData.fromMe === true) {\n  return [null];\n}\n\nconst msg = extData.msg || \"\";\n// Filtra mensagens vazias\nif (!msg || msg.trim() === \"\") {\n  return [null];\n}\n\nconst apiData = $input.first().json;\nconst remetente = extData.remetente || \"\";\n\n// Extrai o numero limpo (sem @s.whatsapp.net, @lid, etc)\nconst numero = remetente.split(\"@\")[0] || remetente;\n\nreturn [{\n  json: {\n    remetente: remetente,\n    numero: numero,\n    pushName: extData.pushName || \"\",\n    msg: msg,\n    msgType: extData.msgType || \"\",\n    estado: apiData.estado || \"SAUDACAO\",\n    dados: apiData.dados || {},\n    conversaId: apiData.id || null\n  }\n}];"
      }
    },
    {
      "id": "ai-agent-6",
      "name": "IA Atendente",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1740,
        300
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.msg }}",
        "options": {
          "systemMessage": "Voce e um assistente de vendas virtual da Pro Moda Textil, industria textil B2B brasileira.\n\nFLUXO DA CONVERSA:\nEstado SAUDACAO: Se apresente e pergunte \"Qual o seu nome?\"\nEstado COLETANDO_NOME: O usuario disse o nome. Confirme.\nEstado COLETANDO_DOC: Pergunte \"Digite 1 para PF ou 2 para PJ, depois informe CPF ou CNPJ\"\nEstado CONFIRMACAO: Mostre resumo com todos os dados. Pergunte \"Esta correto? Digite SIM para confirmar.\"\nEstado ENCERRADO: Informe \"Contato direcionado para representante comercial, entrara em contato em ate 10 min.\" Mostre o resumo e agradeca.\n\nCONTEXTO:\n- Cliente: {{ $json.pushName }}\n- Estado: {{ $json.estado }}\n- Dados: {{ JSON.stringify($json.dados) }}\n\nREGRAS:\n- Portugues brasileiro natural e cordial\n- Max 3 linhas por mensagem\n- Nao invente precos ou estoque\n- Nao use emojis\n- Pergunte UMA COISA de cada vez\n- Para PF colete: nome, CPF, tipoPessoa=PF\n- Para PJ colete: nome, CNPJ, tipoPessoa=PJ"
        }
      }
    },
    {
      "id": "groq-7",
      "name": "Groq Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1640,
        550
      ],
      "parameters": {
        "model": "groq/compound-mini",
        "options": {}
      },
      "credentials": {
        "groqApi": {
          "id": "oG9hErdp3lvAJFwg"
        }
      }
    },
    {
      "id": "redis-memory-8",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1840,
        550
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session: {{ $json.remetente }}",
        "sessionTTL": 3600,
        "contextWindowLength": 15
      },
      "credentials": {
        "redis": {
          "id": "Uvac3m8TX1g7bg09"
        }
      }
    },
    {
      "id": "merge-12",
      "name": "Merge dados",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1960,
        200
      ],
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition"
      }
    },
    {
      "id": "state-machine-9",
      "name": "Maquina de estados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        2180,
        300
      ],
      "parameters": {
        "functionCode": "const item = $input.first().json;\nconst aiRes = item.output || \"\";\n\nconst remetente = item.remetente || \"\";\nconst numero = item.numero || remetente.split(\"@\")[0] || \"\";\nconst curEstado = item.estado || \"SAUDACAO\";\nconst curDados = item.dados || {};\nconst msgOriginal = item.msg || \"\";\nconst msg = msgOriginal.toLowerCase().trim();\n\nlet nextEstado = curEstado;\nconst dados = JSON.parse(JSON.stringify(curDados));\n\nfunction extrairDoc(texto) {\n  const cnpj = texto.match(/\\d{2}\\.?\\d{3}\\.?\\d{3}\\/?\\d{4}-?\\d{2}/);\n  if (cnpj) return { doc: cnpj[0], tipo: \"PJ\" };\n  const cpf = texto.match(/\\d{3}\\.?\\d{3}\\.?\\d{3}-?\\d{2}/);\n  if (cpf) return { doc: cpf[0], tipo: \"PF\" };\n  return null;\n}\n\nfunction detectarTipo(texto) {\n  if (/\\b(1|pf|fisica|física)\\b/.test(texto)) return \"PF\";\n  if (/\\b(2|pj|juridica|jurídica|cnpj)\\b/.test(texto)) return \"PJ\";\n  return null;\n}\n\nfunction pareceNome(texto) {\n  const alpha = texto.replace(/[^a-zA-ZÀ-ÿ ]/g, \"\").trim();\n  return alpha.length > 2;\n}\n\nfunction confirmou(texto) {\n  return /\\b(sim|s|ss|claro|ok|confirmo|correto|certo)\\b/.test(texto);\n}\n\nif (curEstado === \"SAUDACAO\") {\n  nextEstado = \"COLETANDO_NOME\";\n\n} else if (curEstado === \"COLETANDO_NOME\") {\n  if (msgOriginal.length > 2 && pareceNome(msgOriginal)) {\n    dados.nome = msgOriginal;\n    nextEstado = \"COLETANDO_DOC\";\n  }\n\n} else if (curEstado === \"COLETANDO_DOC\") {\n  const tipo = detectarTipo(msg) || (extrairDoc(msgOriginal) ? extrairDoc(msgOriginal).tipo : null);\n  const doc = extrairDoc(msgOriginal);\n  if (tipo) dados.tipoPessoa = tipo;\n  if (doc) dados.documento = doc.doc;\n  if (!dados.tipoPessoa && doc) dados.tipoPessoa = doc.tipo;\n  if (!dados.nome && pareceNome(msgOriginal) && msgOriginal.length < 50) {\n    dados.nome = msgOriginal;\n  }\n  if (dados.documento || dados.tipoPessoa) {\n    nextEstado = \"CONFIRMACAO\";\n  }\n\n} else if (curEstado === \"CONFIRMACAO\") {\n  if (confirmou(msg)) {\n    dados.finalizado = true;\n    nextEstado = \"ENCERRADO\";\n  }\n\n} else if (curEstado === \"ENCERRADO\") {}\n\nreturn [{\n  json: {\n    remetente: remetente,\n    numero: numero,\n    pushName: item.pushName || \"\",\n    msg: msgOriginal,\n    resposta: aiRes,\n    estado: nextEstado,\n    dados\n  }\n}];"
      }
    },
    {
      "id": "evolution-send-10",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        2180,
        300
      ],
      "parameters": {
        "resource": "messages-api",
        "instanceName": "maketing_pdm_pro_moda",
        "remoteJid": "={{ $json.remetente }}",
        "messageText": "={{ $json.resposta }}",
        "options_message": {}
      },
      "credentials": {
        "evolutionApi": {
          "id": "zlFrmzQfy0KbWcqo"
        }
      }
    },
    {
      "id": "save-state-11",
      "name": "Salvar estado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2400,
        300
      ],
      "parameters": {
        "url": "https://pdmprotextil.vercel.app/api/crm/whatsapp/conversa",
        "method": "POST",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "remoteJid",
              "value": "={{ $('Maquina de estados').item.json.remetente }}"
            },
            {
              "name": "numero",
              "value": "={{ $('Maquina de estados').item.json.numero }}"
            },
            {
              "name": "pushName",
              "value": "={{ $('Maquina de estados').item.json.pushName }}"
            },
            {
              "name": "estado",
              "value": "={{ $('Maquina de estados').item.json.estado }}"
            },
            {
              "name": "dados",
              "value": "={{ $('Maquina de estados').item.json.dados }}"
            },
            {
              "name": "msg",
              "value": "={{ $('Maquina de estados').item.json.msg }}"
            },
            {
              "name": "resposta",
              "value": "={{ $('Maquina de estados').item.json.resposta }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    }
  ],
  "connections": {
    "Receber do Evolution": {
      "main": [
        [
          {
            "node": "Extrair dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair dados": {
      "main": [
        [
          {
            "node": "Listar contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listar contatos": {
      "main": [
        [
          {
            "node": "Combinar dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar dados": {
      "main": [
        [
          {
            "node": "Contato conhecido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contato conhecido?": {
      "main": [
        [
          {
            "node": "Ignorar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Buscar conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar conversa": {
      "main": [
        [
          {
            "node": "Filtrar e estado inicial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar e estado inicial": {
      "main": [
        [
          {
            "node": "IA Atendente",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IA Atendente": {
      "main": [
        [
          {
            "node": "Merge dados",
            "type": "main",
            "index": 1
          }
        ]
      ],
      "ai_languageModel": [
        [
          {
            "node": "Groq Chat Model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "ai_memory": [
        [
          {
            "node": "Redis Chat Memory",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge dados": {
      "main": [
        [
          {
            "node": "Maquina de estados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Maquina de estados": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Salvar estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "versionId": "v1",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true
  },
  "tags": [],
  "createdAt": "",
  "updatedAt": ""
}