n8n/whatsapp-bot-atendimento.json
{
  "name": "WhatsApp Bot Atendimento Pro Moda",
  "nodes": [
    {
      "id": "webhook-receiver",
      "name": "Receber do Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "whatsapp-evolution",
      "parameters": {
        "path": "whatsapp-evolution",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "rawBody": true
        },
        "httpMethod": "POST"
      }
    },
    {
      "id": "extract-data",
      "name": "Extrair dados",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        400,
        300
      ],
      "parameters": {
        "functionCode": "const item = $input.first().json;\nconst body = item.body || item;\nconst data = body.data || {};\nconst key = data.key || {};\n\n// remoteJid original (pode ser @lid, @s.whatsapp.net, @g.us)\nlet remoteJid = key.remoteJid || body.remoteJid || \"\";\n\n// Pula se for mensagem enviada pela propria instancia\nconst fromMe = key.fromMe === true;\nif (fromMe || body.event !== \"messages.upsert\") {\n  return [null];\n}\n\n// Se for @lid, tenta resolver para numero real via data.sender\n// Evolution API inclui data.sender com o JID resolvido\nif (remoteJid.includes(\"@lid\")) {\n  remoteJid = data.sender || remoteJid;\n}\n\nconst msg = data.message || {};\nconst mensagem = msg.conversation\n  || msg.extendedTextMessage?.text\n  || msg.imageMessage?.caption\n  || msg.documentMessage?.caption\n  || msg.videoMessage?.caption\n  || \"\";\n\nif (!mensagem) {\n  return [null];\n}\n\n// Extrai o numero: remove @s.whatsapp.net se presente, senao mantem\nconst numero = remoteJid.includes(\"@s.whatsapp.net\")\n  ? remoteJid.replace(\"@s.whatsapp.net\", \"\")\n  : remoteJid;\n\nconst pushName = data.pushName || body.pushName || \"\";\n\nreturn [{\n  json: { remoteJid, numero, mensagem, pushName }\n}];"
      }
    },
    {
      "id": "get-conversation",
      "name": "Buscar conversa",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        600,
        300
      ],
      "parameters": {
        "url": "=https://pdmprotextil.vercel.app/api/crm/whatsapp/conversa?remoteJid={{ $json.remoteJid }}",
        "method": "GET",
        "authentication": "none",
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "bot-logic",
      "name": "Bot Conversacional",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "parameters": {
        "functionCode": "const conversa = $input.first().json;\nconst msgItems = $items(\"Extrair dados\");\nconst msgData = (msgItems && msgItems.length > 0) ? msgItems[0].json : {};\nconst remoteJid = conversa.remoteJid || msgData.remoteJid || \"\";\nconst numero = msgData.numero || \"\";\nconst mensagem = msgData.mensagem || conversa.mensagem || \"\";\nconst pushName = msgData.pushName || \"\";\nconst estadoAtual = conversa.estado || \"SAUDACAO\";\nconst dados = conversa.dados || {};\nconst msgLower = mensagem.toLowerCase().trim();\nconst sim = [\"sim\", \"s\", \"ss\", \"claro\", \"ok\", \"pode ser\", \"vamos\", \"bora\", \"yes\"];\nconst nao = [\"não\", \"nao\", \"n\", \"ñ\", \"nem\", \"no\"];\nlet resposta = \"\";\nlet proximoEstado = estadoAtual;\nlet leadPronto = false;\n\nswitch (estadoAtual) {\n  case \"SAUDACAO\":\n    const nome = pushName ? \", \" + pushName : \"\";\n    resposta = \"Ola\" + nome + \"! Bem-vindo(a) a PRO MODA Textil! Somos uma industria textil brasileira, especializada em tecidos para: Hospitalar, WorkWear, Decoracao, Colchoes e Forro de Bolso. Atendemos exclusivamente pessoas juridicas (empresas). Voce e pessoa juridica? (Sim/Nao)\";\n    proximoEstado = \"VALIDANDO_PJ\";\n    break;\n  case \"VALIDANDO_PJ\":\n    var ehSim = sim.some(function(p) { return msgLower.startsWith(p) || msgLower.includes(\" \" + p) || msgLower === p; });\n    var ehNao = nao.some(function(p) { return msgLower.startsWith(p) || msgLower === p; });\n    if (ehNao || msgLower.includes(\"fisica\")) {\n      resposta = \"Infelizmente atendemos apenas pessoas juridicas (empresas com CNPJ ativo). Se no futuro voce abrir um CNPJ, estaremos aqui para ajudar! Agradecemos o contato!\";\n      proximoEstado = \"ENCERRADO\";\n    } else if (ehSim || msgLower.includes(\"juridica\") || msgLower.includes(\"empresa\") || msgLower.includes(\"cnpj\") || msgLower.includes(\"sou\")) {\n      resposta = \"Otimo! Para continuar, preciso de algumas informacoes: 1) Razao Social da empresa 2) CNPJ 3) Nome para contato. Fique a vontade para enviar os dados em uma unica mensagem ou separadamente.\";\n      proximoEstado = \"COLETANDO_DADOS\";\n    } else {\n      resposta = \"Desculpe, nao entendi. Voce e pessoa juridica (empresa)? Responda Sim ou Nao.\";\n      proximoEstado = \"VALIDANDO_PJ\";\n    }\n    break;\n  case \"COLETANDO_DADOS\":\n    var cnpjRegex = /(\\d{2}[.]?\\d{3}[.]?\\d{3}[/]?\\d{4}[-]?\\d{2})/g;\n    var cnpjMatch = mensagem.match(cnpjRegex);\n    if (cnpjMatch) { dados.cnpj = cnpjMatch[0]; }\n    if (mensagem.length > 5 && !dados.razaoSocial) {\n      var linhas = mensagem.split(\"\\n\").filter(function(l) { return l.trim(); });\n      for (var i = 0; i < linhas.length; i++) {\n        var l = linhas[i].trim();\n        var c = l.match(cnpjRegex);\n        if (c && !dados.cnpj) { dados.cnpj = c[0]; }\n        else if (!dados.razaoSocial && l.length > 5 && !c) { dados.razaoSocial = l; }\n      }\n    }\n    if (!dados.nomeContato && pushName) { dados.nomeContato = pushName; }\n    if (dados.cnpj && dados.razaoSocial) {\n      if (!dados.nomeContato) dados.nomeContato = pushName || \"Nao informado\";\n      resposta = \"Perfeito! Dados registrados: Empresa: \" + dados.razaoSocial + \", CNPJ: \" + dados.cnpj + \", Contato: \" + dados.nomeContato + \". Voce ja conhece os produtos da PRO MODA Textil? (Sim/Nao)\";\n      proximoEstado = \"PERGUNTANDO_PRODUTOS\";\n    } else {\n      var pedindo = \"Ainda preciso de algumas informacoes: \";\n      if (!dados.razaoSocial) pedindo += \"Razao Social da empresa; \";\n      if (!dados.cnpj) pedindo += \"CNPJ da empresa; \";\n      if (!dados.nomeContato) pedindo += \"Nome para contato; \";\n      pedindo += \"Pode enviar os dados que faltam?\";\n      resposta = pedindo;\n      proximoEstado = \"COLETANDO_DADOS\";\n    }\n    break;\n  case \"PERGUNTANDO_PRODUTOS\":\n    var ehSim2 = sim.some(function(p) { return msgLower.startsWith(p) || msgLower.includes(\" \" + p) || msgLower === p; });\n    if (ehSim2 || msgLower.includes(\"produto\") || msgLower.includes(\"conheco\")) {\n      resposta = \"Conheca nossas linhas: LINHA HOSPITALAR - Tecidos para lencais hospitalares. WORKWEAR - Uniformes profissionais. DECORACAO - Tecidos para enxoval. COLCHOES - Alta performance para setor colchoeiro. FORRO DE BOLSO - Tecidos resistentes. Qual linha te interessou?\";\n      proximoEstado = \"MOSTRANDO_PRODUTOS\";\n    } else {\n      resposta = \"Nao entendi. Voce ja conhece nossos produtos? (Sim/Nao)\";\n      proximoEstado = \"PERGUNTANDO_PRODUTOS\";\n    }\n    break;\n  case \"MOSTRANDO_PRODUTOS\":\n    resposta = \"Que bom! Um representante comercial entrara em contato com voce em ate 5 minutos pelo WhatsApp. Enquanto isso, conheca mais: www.promodatextil.com.br / contato@promodatextil.com.br / (19) 99832-2339. Agradecemos o contato!\";\n    proximoEstado = \"AGUARDANDO_REPRESENTANTE\";\n    leadPronto = true;\n    break;\n  case \"AGUARDANDO_REPRESENTANTE\":\n    resposta = \"Ja registramos seu interesse! Um representante entrara em contato em breve.\";\n    break;\n  case \"ENCERRADO\":\n    resposta = \"Conversa encerrada. Se precisar, e so chamar!\";\n    break;\n  default:\n    resposta = \"Ola! Como posso ajudar?\";\n    proximoEstado = \"SAUDACAO\";\n}\n\nreturn [{\n  json: {\n    remoteJid,\n    numero,\n    mensagem: resposta,\n    proximoEstado,\n    dados,\n    leadPronto\n  }\n}];"
      }
    },
    {
      "id": "save-conversation",
      "name": "Salvar estado",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "url": "https://pdmprotextil.vercel.app/api/crm/whatsapp/conversa",
        "method": "POST",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "remoteJid",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "name": "estado",
              "value": "={{ $json.proximoEstado }}"
            },
            {
              "name": "dados",
              "value": "={{ $json.dados }}"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      }
    },
    {
      "id": "send-response",
      "name": "Enviar resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1200,
        300
      ],
      "parameters": {
        "url": "https://evolutionapi.tiagoabreu.dev/message/sendText/maketing_pdm_pro_moda",
        "method": "POST",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $json.numeroReal || $items(\"Bot Conversacional\")[0].json.numero }}"
            },
            {
              "name": "text",
              "value": "={{ $items(\"Bot Conversacional\")[0].json.mensagem }}"
            },
            {
              "name": "options.delay",
              "value": "1000"
            }
          ]
        },
        "options": {
          "timeout": 15000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "E7CFC0D4875D-46F3-BF90-3946AAD1917A"
            }
          ]
        }
      }
    },
    {
      "id": "filter-lead",
      "name": "Lead pronto?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1400,
        200
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $items(\"Bot Conversacional\")[0].json.leadPronto }}",
              "value2": true
            }
          ]
        }
      }
    },
    {
      "id": "create-lead",
      "name": "Criar Lead CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1400,
        400
      ],
      "parameters": {
        "url": "https://pdmprotextil.vercel.app/api/crm/whatsapp/webhook?createLead=true&secret=pdm-secret-2024",
        "method": "POST",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "remoteJid",
              "value": "={{ $items(\"Bot Conversacional\")[0].json.remoteJid }}"
            },
            {
              "name": "mensagem",
              "value": "={{ \"Lead qualificado via bot - \" + ($items(\"Bot Conversacional\")[0].json.dados ? ($items(\"Bot Conversacional\")[0].json.dados.razaoSocial || \"\") : \"\") }}"
            },
            {
              "name": "externalId",
              "value": "={{ Date.now().toString() }}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "continueOnFail": true
    },
    {
      "id": "fetch-contacts",
      "name": "Buscar contato",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ],
      "parameters": {
        "url": "https://evolutionapi.tiagoabreu.dev/contact/fetchContacts/maketing_pdm_pro_moda",
        "method": "GET",
        "authentication": "none",
        "options": {
          "timeout": 15000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "E7CFC0D4875D-46F3-BF90-3946AAD1917A"
            }
          ]
        }
      }
    },
    {
      "id": "extract-number",
      "name": "Extrair numero",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "functionCode": "const input = $input.first().json;\n// fetchContacts pode retornar array direto ou objeto com campo contacts\nconst contacts = Array.isArray(input) ? input : (input.contacts || input.response || []);\nif (!Array.isArray(contacts)) {\n  return [{ json: { numeroReal: \"\", contactsCount: 0, error: \"formato inesperado\" } }];\n}\n\nconst msgData = $items(\"Extrair dados\");\nconst pushName = (msgData && msgData.length > 0) ? (msgData[0].json.pushName || \"\") : \"\";\nconst lidJid = (msgData && msgData.length > 0) ? (msgData[0].json.remoteJid || \"\") : \"\";\n\nvar found = null;\n// 1. Tenta match pelo JID (id do contato pode ser o @lid)\nfor (var i = 0; i < contacts.length; i++) {\n  var c = contacts[i];\n  if (c.id === lidJid || c.id === lidJid.replace(\"@lid\", \"\") + \"@s.whatsapp.net\") {\n    found = c; break;\n  }\n}\n// 2. Fallback: match pelo pushName\nif (!found && pushName) {\n  for (var i = 0; i < contacts.length; i++) {\n    var c = contacts[i];\n    if (c.name && c.name.toLowerCase() === pushName.toLowerCase()) { found = c; break; }\n  }\n}\n\nvar numeroReal = \"\";\nif (found) {\n  numeroReal = (found.number || \"\").replace(\"@s.whatsapp.net\", \"\");\n}\n\nreturn [{ json: { numeroReal, contactsCount: contacts.length, pushName, lidJid } }];"
      }
    }
  ],
  "connections": {
    "Receber do Evolution": {
      "main": [
        [
          {
            "node": "Extrair dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair dados": {
      "main": [
        [
          {
            "node": "Buscar conversa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar conversa": {
      "main": [
        [
          {
            "node": "Bot Conversacional",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Conversacional": {
      "main": [
        [
          {
            "node": "Salvar estado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salvar estado": {
      "main": [
        [
          {
            "node": "Buscar contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar resposta WhatsApp": {
      "main": [
        [
          {
            "node": "Lead pronto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead pronto?": {
      "main": [
        [
          {
            "node": "Criar Lead CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar contato": {
      "main": [
        [
          {
            "node": "Extrair numero",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair numero": {
      "main": [
        [
          {
            "node": "Enviar resposta WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "versionId": "v1",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true
  },
  "tags": [],
  "id": "whatsapp-bot-atendimento",
  "createdAt": "",
  "updatedAt": ""
}