n8n/whatsapp-evolution-para-crm.json
{
  "name": "WhatsApp Evolution → CRM",
  "nodes": [
    {
      "id": "webhook-receiver",
      "name": "Receber do Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "whatsapp-evolution",
      "parameters": {
        "path": "whatsapp-evolution",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "rawBody": true
        },
        "httpMethod": "POST"
      }
    },
    {
      "id": "transform-code",
      "name": "Extrair e transformar",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300],
      "parameters": {
        "functionCode": "const item = $input.first().json;\n\nconst body = item.body || item;\n\n// Ignora eventos que não são messages.upsert\nif (body.event && body.event !== 'messages.upsert') {\n  return [null];\n}\n\nconst data = body.data || body;\nconst key = data.key || {};\nconst msg = data.message || {};\n\nlet remoteJid = key.remoteJid || body.remoteJid || '';\nif ((remoteJid.includes('@lid') || !remoteJid) && body.sender) {\n  remoteJid = body.sender;\n}\n\nconst mensagem = msg.conversation\n  || msg.extendedTextMessage?.text\n  || msg.imageMessage?.caption\n  || msg.documentMessage?.caption\n  || msg.videoMessage?.caption\n  || (msg.audioMessage ? '🎤 Áudio' : '')\n  || '';\n\nconst pushName = data.pushName || body.pushName || '';\nconst fromMe = key.fromMe === true || body.fromMe === true;\n\nif (fromMe) {\n  return [null];\n}\n\nreturn [{\n  json: {\n    remoteJid,\n    mensagem,\n    externalId: key.id || data.messageTimestamp || '',\n    pushName,\n    tipoMensagem: msg.conversation || msg.extendedTextMessage ? 'texto'\n      : msg.imageMessage ? 'imagem'\n      : msg.documentMessage ? 'documento'\n      : msg.audioMessage ? 'audio'\n      : msg.videoMessage ? 'video'\n      : 'desconhecido'\n  }\n}];"
      }
    },
    {
      "id": "send-to-crm",
      "name": "Enviar para CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "parameters": {
        "url": "https://pdmprotextil.vercel.app/api/crm/whatsapp/webhook",
        "method": "POST",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "createLead",
              "value": "true"
            },
            {
              "name": "secret",
              "value": "pdm-secret-2024"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "remoteJid",
              "value": "={{ $json.remoteJid }}"
            },
            {
              "name": "mensagem",
              "value": "={{ $json.mensagem }}"
            },
            {
              "name": "externalId",
              "value": "={{ $json.externalId }}"
            },
            {
              "name": "tipoMensagem",
              "value": "={{ $json.tipoMensagem }}"
            },
            {
              "name": "pushName",
              "value": "={{ $json.pushName }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      }
    }
  ],
  "connections": {
    "Receber do Evolution": {
      "main": [
        [
          {
            "node": "Extrair e transformar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair e transformar": {
      "main": [
        [
          {
            "node": "Enviar para CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "versionId": "v3",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Sao_Paulo",
    "saveManualExecutions": true
  },
  "tags": [],
  "id": "whatsapp-evolution-to-crm",
  "createdAt": "",
  "updatedAt": ""
}
